@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;500;600;700&display=swap');
@font-face {
  font-family: "GT";
  src: local("GT"),
  url("./GT.woff") format("truetype");
}
@font-face {
  font-family: "Beau";
  src: local("Beau"),
  url("./beau.ttf") format("truetype");
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  max-width: 375px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  position: relative;
  overscroll-behavior: none;
}

canvas {
  display: block;
}

h1,h2,h3,p,li,ol,ul,a,label,input,textarea,select,form,div,small,span,b{
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  text-decoration: none;
  list-style: none;
}

header,main,footer,section,div,form,label,input,span,nav,aside{
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

section{
  padding: 1rem;
}

label{
  margin-bottom: 1rem;
}

input,select,textarea{
  background-color: transparent;
  border: 2px solid #c8cdd1;
  height: 3rem;
  color: #fff;
  padding: .3rem;
  border-radius: .5rem;
  font-weight: 400;
  font-size: .85rem;
  resize: none;
}

input:focus,input:active,select:active,select:focus,textarea:active,textarea:focus,label .rmsc .dropdown-container:active,label .rmsc .dropdown-container:focus{
  outline: none;
  border: 2px solid #c8cdd1;
}

textarea{
  height: 7rem;
  margin-top: .3rem;
  width: 100%;
}

select{
  width: 100%;
  margin-top: .3rem;
}

button{
  width: 10rem;
  height: 3rem;
  font-size: .9rem;
  text-transform: uppercase;
  font-weight: 501;
  background-color: #c8cdd1;
  border: none;
  border-radius: .5rem;
  cursor: pointer;
}

.summer{
  background-image: url(../public/images/IMG_1588.webp);
  background-position: center;
  background-size: cover;
  background-color: #666;
  background-blend-mode: multiply;
  height: 100vh;
}

.summer .box,.summer .wrapper,.summer .boxes{
  align-items: center;
  justify-content: center;
}

.summer .wrapper{
  height: 100%;
}

form{
  align-items: center;
  justify-content: center;
  max-width: 300px;
}

.summer form{
  border-top: 2px solid #695a59;
  padding-top: 1rem;
}

.summer button{
  width: 100%;
  height: 4rem;
  font-weight: 600;
}

.summer .heading{
  font-size: 1.5rem;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  cursor:pointer;
  margin-bottom: 2rem;
}

.summer .paragraph{
  color: #fff;
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 4rem;
  text-transform: capitalize;
  max-width: 300px;
  text-align: center;
}

.social-box{
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 60px;
  margin-top: 1rem;
  cursor: pointer;
}

.social-box img{
  width: 30px;
}

.learn .box > .heading{
  margin-bottom: 1rem;
  font-size: 2rem;
  color: #c5965a;
  font-weight: 700;
  text-align: center;
  max-width: 220px;
  text-shadow: 0 0 2rem #c5965ac2;
}

.learn .box{
  background-color: #000;
  border-radius: 1.5rem;
  padding: 1rem;
  align-items: center;
  justify-content: center;
}

.learn .image-box{
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background-color: #c5965a;
  margin-bottom: 1rem;
}

.learn .image-box img{
  width: 100%;
}

.learn .text{
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.learn .text .heading{
  color: #c5965a;
  text-transform: uppercase;
  font-size: 1.3rem;
  letter-spacing: .05rem;
  font-weight: 800;
  margin-bottom: .4rem;
}

.learn .text .paragraph{
  color: #c8cdd1;
  text-align: center;
  line-height: 1.2rem;
  font-size:.8rem;
}

.how .box img{
  width: 100%;
  border-radius: 1rem;
}

.how .box:nth-of-type(2){
  border-radius: 1rem;
  margin-bottom: 2rem;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.how .box:nth-of-type(2):hover{
  transform: scale(1.04);
}

.how .box{
  margin-bottom: 1rem;
}

.how .box .heading{
  font-weight: 700;
  color: #fff;
  margin-bottom: .3rem;
  font-size: 1.5rem;
}

.how .box .paragraph{
  font-size: .65rem;
  color: #c8cdd1;
  font-weight: 400;
  margin-bottom: 1rem;
  line-height: 1.2rem;
}

.how .box button{
  height: 2rem;
  background-color: transparent;
  color: #fff;
  font-weight: 501;
  border-radius: .5rem;
  border: 2px solid #c8cdd1;
  font-size: .8rem;
  cursor: pointer;
}

.how .box button:hover{
  background-color: #c8cdd1;
  color: #191919;
}

.how .box:nth-of-type(1){
  padding-inline: 1rem;
  margin-bottom: 2rem;
}

.about-hero .box{
  border-radius: 1rem;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.about-hero .box:hover{
  transform: scale(1.04);
}

.about-hero img{
  width: 100%;
  border-radius: 2rem;
  object-fit: cover;
}

main{
  padding-top: 10rem;
  background-color: #191919;
}

.support{
  background-color: #191919;
}

.support .box{
  min-height: 250px;
  justify-content: center;
}

.support .box span{
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 1rem;
}

.support .box span a{
  color: #fff;
  margin-right: 1rem;
  font-size: .9rem;
}

.support .box span a:nth-of-type(1){
  color: #c8cdd1;
}

.support .box .heading{
  font-size: 2rem;
  color: #fff;
  font-weight: 700;
}

.policy{
  background-color: #fff;
}

.policy .box{
  margin-bottom: 2rem;
}

.policy .box .heading{
  color: #000;
  font-weight: 501;
  font-size: 1rem;
  margin-bottom: .5rem;
}

.policy .paragraph{
  line-height: 1.3rem;
  color: #363636;
  font-weight: 400;
  font-size: .8rem;
}

.policy{
  padding-block: 5rem;
}

.support-main{
  background-color: #fff;
  padding: 0;
}

.support .hero-box button{
  margin-top: 1rem;
  background-color: #c4c5c780;
  color: #fff;
  width: 8rem;
  height: 2.5rem;
  font-size: 1rem;
  text-transform: capitalize;
}

.support-right{
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 170px;
}

.support-right img{
  width: 24px;
}

.policy form{
  max-width: 100%;
}

.policy input,.policy select,.policy textarea{
  width: 100%;
  border: 1px solid #191919;
  border-radius: .2rem;
  color: #000;
  padding: .8rem;
  margin-top: .4rem;
  font-weight: 400;
  font-size: .9rem;
}

.policy button{
  font-family: 'GT';
  font-size: .8rem;
}

.policy label{
  font-weight: 600;
}

.support-footer{
  background-color: #191919;
  padding: 1rem;
  height: 200px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.support-footer .paragraph{
  color: #c8cdd1;
  font-weight: 300;
  margin-bottom: .5rem;
}

.support-footer .paragraph:nth-of-type(2){
  color: #191919;
}

.help-main{
  background-color: #fff;
  padding: 0;
}

.cant{
  background-image: url(../public/images/aee8b30ca116d71e3a7bd022d5a13146bb0d361a.jpg);
  background-position: center;
  background-size: cover;
  height: 40vh;
  background-color: #929294;
  background-blend-mode: multiply;
}

.cant,.cant .wrapper,.cant .boxes,.cant .box{
  align-items: center;
  justify-content: center;
}

.cant .box .heading{
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
}

.cant form{
  max-width: 600px;
}

.cant input{
  background-color: #fff;
  border: none;
  color: #191919;
  border-radius: .2rem;
  padding: .5rem;
  font-size: 1rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.cant button{
  background-color: #191919;
  color: #fff;
  text-transform: capitalize;
  font-weight: 600;
  height: 3rem;
  border-radius: .2rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.cant label{
  margin: 0;
}

.cant form{
  flex-direction: row;
}

.help-main .policy .box{
  border-top: 1px solid #191919;
  padding-top: 1rem;
  min-height: 14rem;
  justify-content: center;
}

.help-main .policy .box .heading{
  color: #191919;
}

.help-main .policy .box li{
  font-weight: 400;
  font-size: .8rem;
  margin-bottom: 1rem;
  list-style: disc;
}

.help-main .policy .box a{
  color: #1f1fb4;
  font-weight: 501;
  font-size: .9rem;
}

.help-main .policy .box ul{
  padding-inline: 1rem;
  list-style: disc;
}

.help-main .policy .box .paragraph{
  color: #333;
  margin-bottom: 1rem;
}

.visit .cards{
  width: 100%;
  border-radius: 2rem;
}

.visit .cards img,.visit .cards img{
  width: 100%;
  border-radius: 2rem;
  object-fit: cover;
}

.visit .cards{
  position: relative;
  cursor: pointer;
  transition: transform .5s ease-in-out;
}

.visit .cards:hover{
  transform: scale(1.02);
}

.visit .text-box{
  padding: 2.5rem;
}

.visit .text-box,.shop .text-box{
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  bottom: 2rem;
}

.visit .text-box .heading,.shop .text-box .heading{
  font-weight: 900;
  color: #fff;
  text-transform: uppercase;
  max-width: 10rem;
  text-align: center;
  font-size: 1.5rem;
  line-height:1.5rem;
  text-shadow: .8rem .8rem 1.2rem rgba(0,0,0,.08);
  pointer-events: none;
  font-family: 'GT';
  text-align: left;
  margin-bottom: .5rem;
}

.visit .text-box .paragraph{
  color: #fff;
  font-size: .8rem;
  max-width: 10rem;
  margin-bottom: .5rem;
  text-align: left;
  font-weight: 400;
  text-shadow: .8rem .8rem 1.2rem rgba(0,0,0,.08);
  pointer-events: none;
}

.visit .text-box button,.shop .text-box button{
  border-radius: 6rem;
  margin-bottom: .3rem;
  padding: 9px 18px;
  font-weight: 600;
  background-color: rgba(11, 33, 43, 0.5);
  backdrop-filter: saturate(180%) blur(1rem);
  color: #fff;
  font-size: .9rem;
  width: fit-content;
  height: fit-content;
  transition: transform .4s ease-in-out,color .4s ease-in-out,background-color .4s ease-in-out;
  font-family: 'GT';
}

.visit .text-box button:hover,.shop .text-box button:hover{
  background-color: #fff;
  color: #000;
  transform: scale(1.04);
}

.shop .box img{
  border-radius: 1.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.shop .box{
  border-radius: 1.5rem;
  transition: transform .5s ease-in-out;
  cursor: pointer;
  position: relative;
  background-color: #999;
  opacity: .8;
  height: 300px;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
}

.shop .box:hover{
  transform: scale(1.02);
}

.shop .text-box{
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1rem;
  padding-inline: 2.5rem;
}

.left .text-box .heading{
  text-align: right;
}


.shop .text-box button{
  background-color: rgba(11, 33, 43, 0.5);
}

.shop .text-box .paragraph{
  color: #fff;
  font-size: .75rem;
  margin-bottom: .5rem;
  font-weight: 400;
}

.left .text-box{
  align-items: flex-end;
}

.left .text-box .heading{
  text-align:right;
}

.new .boxes{
  overflow-x: scroll;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  scrollbar-width: none;
}


.new .boxes > h3{
  color: #fff;
  font-size: .9rem;
  text-transform: uppercase;
  font-weight: 400;
}

::-webkit-scrollbar {
  width: 0;
  background-color: transparent; 
}


.new .box{
  margin-bottom: 1rem;
  width: 200px;
  margin-right: 1rem;
  align-items: center;
}

.new .image-box{
  width: 200px;
  height: 280px;
  border-radius: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
  position: relative;
  overflow-y: hidden;
  justify-content: center;
  align-content: center;
}

.new .image-box a{
  height: 100%;
  width: 100%;
}

.new .image-box:hover .quick-add{
  transform: translateY(81px);
}

.new .quick-add{
  background-color: #000;
  border-radius: .5rem;
  width: 95%;
  padding: 1rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateY(150px);
  transition: transform .5s ease-in-out;
  margin-left: -47.5%;
}

.quick-add .quick-add-top{
  border-bottom: 1px solid #c8cdd1;
  align-items: center;
  justify-content: center;
}

.new .image-box .quick-add:hover{
  transform: translateY(-40px);
}

.quick-add-top .heading{
  color: #929294;
  font-weight: 600;
  font-size: .8rem;
  text-transform: uppercase;
  margin-bottom: .3rem;
}

.quick-add-bottom{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-area: .5rem;
  margin-top: 1rem;
}

.quick-add-bottom .size{
  width: 1.5rem;
  height: 1.5rem;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.quick-add-bottom .size:hover{
  background-color: #2b2a33;
  border-radius: .2rem;
}

.quick-add-bottom .size small{
  color: #c8cdd1;
  font-size: .7rem;
  font-weight: 400;
  width:100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quick-add-bottom .size .sizeActive{
  background-color: #2b2a33;
  border-radius: .2rem;
}

.modal .modal-box .image-box:hover img:nth-of-type(2){
  display: block;
}

.modal .modal-box .image-box:hover img:nth-of-type(1){
  display: none;
}

.new .image-box img{
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

.new .box .text .heading{
  color: #fff;
  font-size: .8rem;
  font-weight: 501;
}

.new .box .text .paragraph{
  margin-bottom: .2rem;
  font-size: .7rem;
  color: #c8cdd1;
  font-weight: 400;
}

.new{
  margin-block: 3rem;
}

.new .area .paragraph{
  color: #fff;
  font-weight: 501;

}

.new .area .heading{
  color: #fff;
  font-weight: 700;
  font-size: 1.4rem;
  text-transform: uppercase;
  margin-bottom: .5rem;
  font-family: 'GT';
}

.new .area .box{
  margin-right: 0;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 1.5rem;
  border: 2px solid #695a59;
  height: 2rem;
  padding: .3rem;
  width: 180px;
  cursor: pointer;
}

.new .area .box .inner{
  width: 90px;
  height: 1.5rem;
  border-radius: 1.5rem;
  align-items: center;
  justify-content: center;
}


.new .area .box .inner small{
  color: #fff;
  font-weight: 501;
  font-size: .8rem;
}

.new .area .box .active-button{
  background-color: #695a59;
}

footer{
  background-color: #191919;
  padding: 1rem;
  align-items: center;
}

footer .footer-span{
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}

footer .rows{
  width: 100%;
  align-items: center;
  justify-content: center;
}

footer .rows .two{
  width: 100%;
  align-items: center;
  justify-content: center;
}

footer .footer-span span{
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: .3rem;
  width: 280px;
}

footer .footer-span span:nth-of-type(2){
  width: 200px;
}

footer .footer-span span .paragraph{
  color: #c8cdd1;
  font-size: .65rem;
  font-weight: 400;
}

footer .footer-span span:nth-of-type(2) .paragraph{
  text-transform: uppercase;
  font-weight: 501;
}

footer .footer-span span:nth-of-type(3){
  width: 195px;
}

footer .footer-span span:nth-of-type(3) .paragraph{
  text-transform: uppercase;
  font-weight: 501;
  font-size: .5rem;
  color: #695a59;
}

footer .box{
  border: 2px solid #695a59;
  padding: 1rem;
  height: 200px;
  border-radius: 1rem;
  margin-bottom: 1rem;
  max-width: 350px;
}

footer .box .heading{
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  font-size: .95rem;
  margin-bottom: 1rem;
  font-family: 'GT';
}

footer .box li{
  margin-bottom: .5rem;
}

footer .box li a{
  font-size: .8rem;
  font-weight: 400;
  color: #c8cdd1;
}

footer .newsletter{
  max-width: 350px;
  margin-block: 3rem;
  align-items: center;
  justify-content: center;
}

footer .newsletter .heading{
  margin-bottom: 1rem;
  color: #fff;
  max-width: 300px;
  text-align: center;
  font-weight: 700;
  line-height: 1.5rem;
  font-family: 'GT';
}

footer .newsletter button{
  width: 100%;
  font-weight: 700;
  height: 2.5rem;
  font-family: 'GT';
  font-size: .9rem;
}

footer .newsletter form{
  max-width: 100%;
  border-bottom: 1px solid #929294;
}

footer .social-wrapper{
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 1rem;
}

footer .social{
  width: 30px;
  height: 30px;
  border-radius: .2rem;
  background-color: #929294;
}


footer .social-wrapper img{
  width: 28px;
}

header{
  background-color: #0f0f0fbc;
  backdrop-filter: blur(100px);
  border: 1px solid #929294;
  border-bottom-left-radius: .7rem;
  border-bottom-right-radius: .7rem;
  position: fixed;
  z-index: 10;
  padding: 1rem;
}

header .top{
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #929294;
  padding-bottom: 1rem;
}

header a{
  color: #929294;
  font-weight: 501;
  font-size: .8rem;
}

header .paragraph{
  font-size: .70rem;
  color: #929294;
  font-weight: 501;
}

header .top .center{
  display: none;
}

header .top .right{
  display: none;
}

header .top .left{
  align-items: center;
}

header .bottom{
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

header .bottom .center{
  display: none;
}

header .logo{
  width: 150px;
  height: 50px;
}

header .bottom-right{
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100px;
}

header .bottom-right img{
  width: 20px;
}

header .bottom-right .small{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: background-color .2s ease-in-out;
  position: relative;
  cursor: pointer;
}

header .bottom-right .small:hover{
  background-color: #2b2a33;
}

header .bottom-right .small .badge{
  position: absolute;
  right: .1rem;
  top: .7rem;
  background-color: #49e472;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

header .bottom-right .small .badge .count{
  font-weight: 600;
  font-size: .85rem;
  height: auto;
}

.auth .box{
  align-items: center;
}

.auth form{
  align-items: center;
}

.auth form .center-label{
  align-items: center;
  display: flex;
  flex-direction: column;
}

.auth button{
  width: 100%;
  font-weight: 700;
  font-family: 'GT';
}

.auth span{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 400;
  font-size: .7rem;
}

.auth a{
  color: #c8cdd1;
  font-weight: 400;
  font-size: .7rem;
  margin-left: .5rem;
}

.auth .heading{
  color: #fff;
  margin-bottom: 1.5rem;
  font-weight: 400;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-family: 'GT';
}

.auth input{
  margin-top: .3rem;
}

.auth label{
  color: #c8cdd1;
  font-weight: 400;
  font-size: .7rem;
}

.support-header{
  flex-direction: column;
  align-items: flex-start;
  justify-content:flex-start;
  padding: 1rem;
  background-color: #191919;
  position: fixed;
  top: 0;
  z-index: 10;
  transition: background-color .4s ease-in-out;
}

.transparent{
  background-color: transparent;
}

.support-header img{
  width: 100px;
}

.support-header aside{
  width: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.support-header button{
  background-color: #c4c5c780;
  color: #fff;
  width: 8rem;
  height: 2.5rem;
  font-size: .9rem;
  text-transform: capitalize;
}

.support-header aside a:nth-of-type(1) button{
  width: 10rem;
}

.welcome button{
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
  font-size: .8rem;
  font-family: 'GT';
  width: fit-content;
  padding: 1rem;
}

.welcome .box{
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.welcome .heading{
  font-size: 1rem;
  color: #fff;
  font-weight: 400;
  max-width: 220px;
  font-family: 'GT';
  text-transform: uppercase;
}

.orders .orders-box{
  align-items: center;
  justify-content: center;
  min-height: 200px;
  border-block: 2px solid #fff;
}

.orders .heading{
  color: #fff;
  font-weight: 400;
  font-size: .9rem;
  font-family: 'GT';
  margin-bottom: .4rem;
  text-transform: uppercase;
}

.orders .paragraph{
  font-size: .7rem;
  color: #c8cdd1;
  font-weight: 400;
  margin-bottom: .2rem;
}

.orders button{
  width: 12rem;
  font-weight: 600;
  font-family: 'GT';
  font-size: .8rem;
}

.orders .address{
  margin-top: 1rem;
}

.orders .address .heading{
  font-size: 1rem;
  margin-bottom: .5rem;
  font-family: 'GT';
}

.default .box{
  border: 2px solid #c8cdd1;
  border-radius: .8rem;
  max-width: 300px;
  height: 200px;
  padding: 1rem;
  margin-top: 1rem;
  justify-content: center;
}

.default .box .text{
  margin-bottom: .5rem;
}

.default button{
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  height: 2.5rem;
  max-width: 8rem;
  font-family: 'GT';
}

.default img{
  width: 24px;
}

.dash-default .heading{
  font-size: .9rem;
  font-family: 'GT';
}

.dash-default .paragraph:nth-of-type(1){
  font-size: 1.3rem;
}

.dash-default .boxes{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 350px));
  gap: 1rem;
}

.latest .wrapper > .heading{
  color: #c8cdd1;
  font-weight: 400;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-family: 'GT';
  margin-bottom: 1rem;
}

.latest .table{
  margin-top: 3rem;
  overflow-x: auto;
}

.latest .table-top,.latest .table-bottom{
  flex-direction: row;
  align-items: center;
  justify-content:flex-start;
  background-color: #191919;
  min-width: 45rem;
}

.latest .inner{
  height:3rem;
  align-items: center;
  justify-content: center;
  border: 1px solid #c8cdd1;
  width: 25rem;
}

.latest .heading{
  font-size: .8rem;
  font-weight: 400;
  color: #c8cdd1;
}

.latest .paragraph{
  color: #c8cdd1;
  font-weight: 400;
}

.latest input{
  margin-top: 1rem;
  background-color: #2b2a33;
  border:1px solid #c8cdd1;
}

.latest .top{
  margin-bottom: 1rem;
}

.latest .top .heading{
  font-size: 1rem;
  margin-bottom: .6rem;
  text-transform: uppercase;
  font-family: 'GT';
  font-weight: 400;
}

.latest .top button{
  width: 100%;
  background-color: #000;
  color: #fff;
  font-weight: 600;
  font-size: .8rem;
  font-family: 'GT';
}

.latest .products{
  border: 1px solid #2b2a33;
  padding: 1rem;
  border-radius: .8rem;
  margin-bottom: .5rem;
}

.latest .products button{
  width: 100%;
  background-color: #000;
  color: #fff;
  font-size: .75rem;
  font-weight: 600;
  margin-top: 1rem;
}

.latest img{
  width: 100%;
  height: 480px;
  object-fit: cover;
  border-radius: .8rem;
}

.latest .product-image{
  max-height: 480px;
  border-radius: .8rem;
}

.latest .text{
  margin-top: 1rem;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.latest .text .column,.latest .text span{
  width: auto;
}

.gallery .boxes{
  gap: 1rem;
}

.gallery .boxes .box{
  width: 280px;
  margin: 0;
}

.gallery .image-box{
  width: auto;
  height: 200px;
}

.size-box{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #191919;
  border-radius: .5rem;
  backdrop-filter: blur(10px);
  border: 1px solid #363636;
  padding: .5rem;
  width: 150px;
  display: none;
}

.new .box{
  min-height: 400px;
}

.new .area .box{
  min-height: 2rem;
}

.new .box:hover .text{
  display: none;
}

.new .box:hover .size-box{
  display: flex;
}

.size-box .size{
  width: 1.5rem;
  height: 1.5rem;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.size-box .size:hover{
  background-color: #2b2a33;
  border-radius: .2rem;
}

.size-box .size small{
  color: #c8cdd1;
  font-size: .7rem;
  font-weight: 400;
}

.gallery .box .image-box{
  width: 100%;
}

.gallery .box{
  overflow-x: scroll;
  scrollbar-width: none;
}

.images-box{
  overflow-x: scroll;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  background-color: #191919;
  border: 1px solid #363636;
  max-width: 100%;
  scrollbar-width: none;
  padding: .5rem;
  border-radius: .5rem;
  cursor: pointer;
  display: none;
}

::-webkit-scrollbar {
  width: 0;
  background-color: transparent; 
}

.images-box img{
  width: 70px;
  height: 70px;
  margin-right: .5rem;
  border-radius: .3rem;
}

.gallery .box .image-box{
  min-height: 280px;
}

img{
  cursor: pointer;
}

.modal{
  position: fixed;
  height: 100vh;
  background-color: #0f0f0fbc;
  backdrop-filter: blur(100px);
  border: 1px solid #929294;
  z-index: 10;
  top: 0;
  padding: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.modal .wrapper,.modal .boxes{
  height: 100%;
  align-items: center;
  justify-content: flex-start;
  overflow-y: auto;
  scrollbar-width: none;
}

.modal .boxes{
  padding-block: 3rem;
}

.modal .box{
  max-width: 90%;
}

.modal .btn-column{
  align-items: center;
  margin-top: 1rem;
}

.modal .box:nth-of-type(1){
  align-items: center;
  justify-content: center;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
  padding-block: 2rem;
}

.modal .box{
  background-color: #000;
  padding: 1rem;
}

.modal .box .line{
  width: 90%;
  height: .7px;
  background-color: #434242;
  margin-block:1rem;
}

.modal .box .heading{
  font-size: .8rem;
  text-transform: uppercase;
  color: #fff;
  font-weight: 400;
  font-family: 'GT';
  margin-block: 1rem;
}

.modal .box:nth-of-type(1) button{
  background-color: transparent;
  border: 2px solid #3b3b3b;
  color: #fff;
  font-weight: 600;
  font-size: .6rem;
  height: 2.5rem;
  border-radius: .6rem;
  margin-bottom: .5rem;
}

.modal .box:nth-of-type(1) a:nth-of-type(1) button{
  width: 12rem;
}

.off{
  display: none;
}

.main{
  position: relative;
}

.modal .box:nth-of-type(2) .heading{
  border-top: 1px solid #434242;
  width: 100%;
  padding-top: 1rem;
}

.modal .quick-add{
  display: none;
}

.modal .modal-box .image-box img:nth-of-type(2){
  display: none;
}

.modal .modal-box .text .paragraph{
  font-size: .7rem;
  color: #c8cdd1;
  font-weight: 500;
}

.modal .modal-box .box{
  min-height: 450px;
}

.modal .modal-box .image-box{
  width: 200px;
  height: 280px;
  border-radius: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
  position: relative;
  overflow-y: hidden;
  justify-content: center;
  align-content: center;
  margin: 0;
}

.modal .modal-box .image-box img{
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

.modal .box:nth-of-type(2) .modal-box .heading{
  border: none;
  padding: 0;
}

.modal .box .modal-box .text{
  margin-top: 1rem;
}

.modal .box .modal-box .box{
  align-items: flex-start;
  justify-content: center;
}

.modal .box .modal-box{
  overflow-x: scroll;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  scrollbar-width: none;
}

.mobile-footer{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  background-color: #0f0f0fbc;
  backdrop-filter: blur(5px);
  position: fixed;
  z-index: 1;
  top: 0;
}

.mobile-on{
  display: flex;
}

.mobile-off{
  display: none;
}

.mobile-inner{
  background-color: #0f0f0fbc;
  backdrop-filter: blur(5px);
  padding: 1rem;
  border: 1px solid #929294;
  border-top-left-radius: .7rem;
  border-top-right-radius: .7rem;
  min-height: 70%;
  overflow-y: auto;
}

.mobile-inner .top{
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #929294;
  padding-bottom: .5rem;
}

.mobile-inner .top a{
  text-transform: uppercase;
  color: #fff;
  font-weight: 500;
  font-size: .9rem;
  margin-left: .5rem;
  font-family: 'GT';
}

.mobile-inner .center{
  margin-top: 2rem;
  border-top: 1px solid #929294;
  padding-top: .5rem;
}

.mobile-inner .center .heading{
  font-size: .9rem;
  color:#fff;
  font-weight: 600;
  text-transform: uppercase;
  font-family: 'GT';
}

.mobile-inner .list{
  margin-top: 2rem;
}

.mobile-footer .list li{
  margin-bottom: 1rem;
}

.mobile-inner .list a{
  color: #fff;
  font-weight: 500;
  font-size: .9rem;
}

.mobile-inner .bottom{
  border-top: 1px solid #434242;
  padding-top: 1rem;
}

.mobile-inner .social-wrapper{
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.mobile-inner img{
  width: 24px;
}

.addressModal{
  backdrop-filter: blur(3px);
}

.addressModal .boxes{
  align-items: center;
  justify-content: center;
}

.addressModal .box:nth-of-type(1){
  background-color: #0e0e0e58;
  backdrop-filter: blur(3px);
  max-width: 350px;
  border: 1px solid #929294;
  border-radius: 1rem;
  overflow-y: scroll;
  scrollbar-width: none;
  max-height: 500px;
}

.addressModal .box:nth-of-type(1) .form{
  width: 100%;
  height: auto;
  overflow-y: auto;
  scrollbar-width: none;
  justify-content: flex-start;
}

.addressModal label{
  color: #fff;
  font-size: .6rem;
  font-weight: 600;
}

.addressModal input{
  color: #fff;
  margin-top: .3rem;
}

.addressModal .box:nth-of-type(1) button{
  width: 100%;
  background-color: #929294;
  color: #191919;
  font-weight: 400;
  font-size: .8rem;
  border: none;
  font-family: 'GT';
}

.addressModal .checklabel{
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.addressModal .checklabel input{
  height: auto;
  width: auto;
  margin: 0;
  margin-right: .3rem;
}

.addressModal .checklabel .paragraph{
  font-size: .75rem;
  font-weight: 600;
  width:150px;
}

.customers-latest{
  min-height: 50vh;
}

.border-container{
  background-color: #000;
  max-width: 90%;
  padding: 1rem;
}

.border-box{
  border: 1px solid #363636;
  border-radius: .5rem;
  padding: 1rem;
  margin-bottom: 1rem;
  min-height: 250px;
  justify-content: center;
}

.border-box .heading{
  font-size: .85rem;
  color: #fff;
  font-weight: 500;
}

.border-box .paragraph{
  font-size: .75rem;
  font-weight: 500;
  color: #c8cdd1;
  margin-top: .1rem;
}

.border-box .top{
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.border-box .top-left,.border-box .top-right{
  width: auto;
}

.border-box img{
  border-radius: .5rem;
  max-width: 300px;
  max-height: 100px;
}

.border-box .bottom{
  border-top: 1px solid #2b2a33;
  padding-top: 1rem;
  margin-top: 1rem;
}

.border-box .bottom-right{
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.border-box .smaller{
  width: auto;
  cursor: pointer;
}

.border-box .smaller img{
  width: 20px;
}

.border-box .smaller:nth-of-type(2){
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 100px;
}

.border-box .bottom-right .smaller div{
  width:auto;
}

.border-container button{
  width: 100%;
  background-color: #48e271;
  font-weight: 600;
  min-height: 3rem;
  font-size: .8rem;
  text-transform: uppercase;
  border: none;
  border-radius: .5rem;
  cursor: pointer;
  margin-top: 1rem;
}

.total-banner,.total-banner span{
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.total-banner span .heading{
  color: #fff;
  font-weight: 600;
  font-size: 1rem;
  margin-right: 1rem;
}

.success .wrapper,.success .boxes,.success .box{
  align-items: center;
  justify-content: center;
  height: 50vh;
}

.success .heading{
  color: #fff;
  font-weight: 400;
  font-size: .9rem;
}

.orders .product-image{
  height: 500px;
}

.orders .product-image img{
  width: 100%;
  height: 100%;
}

.orders .boxes{
  margin-top: 1rem;
}

.orders .products{
  margin-bottom: 1rem;
}

.latest .text span{
  flex-direction: column;
}

.orders .shipping-details{
  margin-top: 1rem;
}

.orders .shipping-details .heading{
  color: #fff;
  font-weight: 300;
  margin-bottom: .5rem;
  width: 100%;
  border-bottom: 1px solid #434242;
  padding-bottom: .5rem;
}

.loginbtn{
  width: 100%;
}

.hero{
  margin-bottom: 1rem;
}

.footer-visit{
  margin-top: 4rem;
}

.border-container .widelogin{
  width: 100%;
}

.trackmain .wrapper{
  z-index: 2;
}

.trackmain label{
  color: #fff;
  font-size: .7rem;
  font-weight: 501;
}

.trackmain input{
  margin-top: .3rem;
  border: 3px solid #cb84d9;
  color: #fff;
}

.trackmain button{
  font-family:'GT';
  width: 100%;
  font-weight: 400;
}

.trackmain form{
  background-color: #000;
  padding: 1rem;
  border-radius: 1rem;
  max-width: 400px;
}

.trackmain .box{
  background-color: #cb84d9;
  padding: 3px;
  border-radius: 1rem;
  max-width: 400px;
}

.trackmain .or{
  flex-direction:column;
  justify-content: center;
  align-items: center;
  margin-bottom:1rem;
}

.trackmain .heading{
  font-size: .8rem;
  color: #fff;
  font-weight: 501;
  margin-bottom: .2rem;
}

.trackmain .line{
  width: 100%;
  height: 2px;
  background-color: #ccc;
  margin-bottom: .5rem;
}

.tracksection{
  height: 100vh;
}

.or{
  border-bottom: 2px solid #191919;
}

.or .paragraph{
  color: #333;
  font-weight: 400;
}

.detailss .box img,.desktop-details .center .box img{
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

.detailss{
  position: sticky;
  top: 81px;
  overflow-y: hidden;
}


.desktop-details .center{
  height:700px;
  overflow-y: auto;
  scrollbar-width: none;
}

.detailss .box,.desktop-details .center{
  align-items: center;
  justify-content: center;
}

.desktop-details .center{
  justify-content: flex-start;
  align-items: flex-start;
}

.detailss .product-image,.desktop-details .product-image{
  max-width: 350px;
  min-height: 450px;
}

.detailss .product-image img{
  margin-bottom: 1rem;
}


.detailss .mobile-center{
  height:400px;
  overflow-y: auto;
  scrollbar-width: none;
}


.dot{
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #716f6d;
}

.dots{
  width: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  left: 50%;
  bottom: 2rem;
  margin-left: -25px;
}

.details{
  padding: 1rem;
}


.details .heading,.desktop-details .heading{
  font-size: .7rem;
  color: #fff;
  font-family: 'GT';
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: .5rem;
}

.details .paragraph,.desktop-details .top .paragraph{
  color: #c8cdd1;
  font-size: .7rem;
  line-height: 1.2rem;
  margin-bottom: .5rem;
  font-weight: 400;
}

.details .top,.desktop-details .top{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.details .top .left,.details .top .right,.desktop-details .top .left,.desktop-details .top .right{
  width: 79%;
}

.details .top .right,.desktop-details .top .right{
  align-items: flex-end;
  width:20%
}

.details .top .red,.desktop-details .top .red{
  color: #c91d1d;
}

.details-page .wrapper{
  border-top: 1px solid #434242;
  padding-top: 1rem;
}

.details-page .area .heading{
  font-size: 1rem;
  margin-bottom: 1rem;
}

.details small,.desktop-details small{
  color: #c8cdd1;
  font-family: 'GT';
  text-transform: uppercase;
  font-size: .5rem;
  font-weight: 400;
}

.details .color-box,.desktop-details .right .color-box{
  margin-block: 2rem;
}

.details .color-box > .heading,.desktop-details .color-box > .heading{
  font-weight: 400;
  font-size: .6rem;
}

.details .color-rounds,.desktop-details .color-rounds{
  border: 1px solid #c8cdd1;
  border-radius: .3rem;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
  gap: .3rem;
  height: auto;
  overflow-y: auto;
}

.details .color-rounds .color-image,.desktop-details .color-rounds .color-image{
  width: 40px;
  height: 60px;
}

.details .color-image img,.desktop-details .color-image img{
  width: 100%;
  height: 100%;
  border-radius: .3rem;
}

.details .sizes-box,.desktop-details .sizes-box{
  margin-bottom: 2rem;
}

.details .sizes-box .top,.desktop-details .sizes-box .top{
  margin: 0;
}

.details .size-box,.desktop-details .size-box{
  display: grid;
  grid-template-columns: repeat(6,1fr);
  gap: .5rem;
  width: fit-content;
  background-color: #191919b7;;
  backdrop-filter: blur(10px);
  border: none;
}

.details .size-box .size,.desktop-details .size-box .size{
  border: 1px solid #363636;
  border-radius: .3rem;
  height: 2.5rem;
  width: 2.5rem;
}

.details .size-box .size small,.desktop-details .sizes-box .size small{
  font-weight: 400;
}

.details .description{
  background-color: #1919198a;;
  backdrop-filter: blur(10px);
  border: 1px solid #363636;
  border-radius: .5rem;
  padding: 1rem;
  margin-bottom: 1rem;
  height: 3rem;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.details .desc-top{
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.details .desc-top .heading{
  margin: 0;
}

.details button,.desktop-details button{
  backdrop-filter: blur(10px);
  border: 1px solid #363636;
  background-color: #191919;
  border-radius: .5rem;
  color: #fff;
  font-weight: 400;
  font-size: .8rem;
  max-width: 20rem;
  margin-bottom: 1rem;
  font-family: 'GT';
  font-weight: 400;
  align-self: center;
  border: none;
  height:2.5rem;
}

.details .addbtn,.desktop-details .addbtn{
  background-color: #c8cdd1;
  color: #191919;
}

.row-sections{
  z-index: 9;
  background-color: #191919b7;;
  backdrop-filter: blur(10px);
  border-top: 1px solid #929294;
  border-top-right-radius: .7rem;
  border-top-left-radius: .7rem;
  padding: 0;
}

.row-sections .new{
  background-color: #191919b7;
  padding: 1rem;
  margin-bottom: 0;
}

.category .column{
  width: auto;
}

.loadercontainer{
  position: fixed;
  height: 100%;
  background-color: #191919;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loadercontainer img{
  width: 200px;
}

/* spinner style */
.spinner {
  position: relative;
  width: 125px;
  height: 125px;
}
.spinner:before, .spinner:after {
  content: "";
  display: block;
  position: absolute;
  border-width: 4px;
  border-style: solid;
  border-radius: 50%;
}
/* spinner-4 styles */
@keyframes rotate {
  0% {
    transform: rotate(0deg);
 }
  100% {
    transform: rotate(360deg);
 }
}
.spinner.spinner-4:before {
  width: 80px;
  height: 80px;
  border-color: #716f6d;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.spinner.spinner-4:after {
  width: 12.38px;
  height: 12.38px;
  border-width: 3px;
  border-color: #716f6d;
  top: 50.5px;
  left: 0;
  overflow: hidden;
  transform-origin: 62.5px;
  animation: rotate 1.2s linear 0s infinite;
}

.desktop-details{
  display: none;
}

.desktop-details .grid-bottom{
  background-color: #19191985;;
  backdrop-filter: blur(10px);
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1px solid #716f6d;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
  max-width: 80%;
  left: 50%;
  margin-left: -40%;
  position: fixed;
  bottom: 0;
  z-index: 1000;
}

.grid-bottom span{
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.inner-deskt-details .grid-bottom span{
  border-right: 2px solid #434242;
}

.inner-deskt-details .grid-bottom span:nth-of-type(3){
  border-right: none;
}

.grid-bottom span .top{
 display: none;
}

.desktop-details .grid-bottom .heading{
  font-weight: 400;
  font-size: .55rem;
  margin-bottom: 0;
  border-right: 2px solid #434242;
}

.inner-deskt-details .grid-bottom .heading{
  border-right: none;
}

.desktop-details .grid-bottom span .bottom{
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

.desktop-details-page{
  display: none;
}

.main .row{
  margin-block: 3rem;
}

.help-main{
  padding-top: 6.8rem;
}

.cards-latest .wrapper{
  margin-bottom: 5rem;
  border-bottom: 1px solid #c8cdd1;
  padding-bottom: 1rem;
}

.latest .table{
  margin-top: 0;
}

.cards{
  border: 2px solid #434242;
  border-radius: .5rem;
  padding: 1rem;
  margin-bottom: 1rem;
}

.visit .cards{
  border: none;
}

.cards img{
  width: 100%;
}

.cards button{
  width: 100%;
  height: 3rem;
  margin-bottom: .5rem;
  font-family: 'GT';
  font-weight: 400;
  background-color: #000;
  color: #fff;
  font-size: .9rem;
}

.cards-latest .boxes{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 350px));
  gap: 1rem;
}

.cards-latest .text{
  margin-bottom:1rem;
  flex-direction: column;
  align-items: flex-start;
}

.cards-latest .text .column{
  margin-bottom: 1rem;
}

.cards-latest .text .column .heading:nth-of-type(1){
  font-size: .9rem;
}

.inner-deskt-details{
  display: flex;
}

.inner-deskt-details .grid-bottom .high .top{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
}

.inner-deskt-details .grid-bottom .high .top .paragraph{
  cursor: pointer;
  border: 2px solid #c5965a;
  display: flex;
  width: 100%;
  height: 2rem;
  align-items: center;
  justify-content: center;
  border-radius: .2rem;
}

.inner-deskt-details .grid-bottom .high .top a{
  margin-bottom: .5rem;
  width: 100%;
}

@media screen and (min-width:376px){
  body{
    max-width: 100%;
  }
}

@media screen and (min-width:600px){
  .how .boxes:nth-of-type(1){
    flex-direction: row-reverse;
    align-items: center;
  }

  .how .boxes:nth-of-type(2){
    flex-direction: row;
    align-items: center;
  }

  .how .boxes:nth-of-type(3){
    flex-direction: row-reverse;
    align-items: center;
  }

  .about-hero,.how,.learn{
    padding-inline: 2rem;
  }

  .how .box .paragraph{
    font-size: .8rem;
  }

  .support .hero-box{
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .cant .box .heading{
    font-size: 2.5rem;
  }

  .border-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
  }

  .row-top{
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 1rem;
  }

  .row-top .sizes-box{
    margin: 0;
    width: 49%;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .row-top .top{
    justify-content: flex-end;
  }

  .row-top .size-box{
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .row-top .color-box{
    margin: 0;
    width: 49%;
  }

  .desc-box{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
    margin-block: 1rem;
    border-block: 1px solid #c8cdd1;
    padding-block: 1rem;
    height: 10rem;
  }

  .desc-box .description{
    margin: 0;
  }
}

@media screen and (min-width:800px){
  .learn .text-row{
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  .learn .text-row .text{
    width: 33%;
  }

  .learn .box{
    height: 500px;
    justify-content: space-evenly;
  }

  .policy .boxes{
    align-items: center;
  }

  .policy .box{
    max-width: 900px;
  }

  .policy .box form{
    max-width: 700px;
    align-items: center;
  }

  .form-policy .box{
    align-items: center;
  }

  .help-main .policy .box{
    max-width: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .help-main .policy .box .heading{
    max-width: 900px;
  }

  .help-main .policy .box .paragraph{
    max-width: 900px;
  }

  .main .row{
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  .main .row .section{
    width: 48%;
  }

  .main .row .section .box img{
    height: 100%;
  }

  .main .column{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: .5rem;
  }

  .main .column .shop .box img{
    height: 100%;
  }

  .main .column .second{
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .visit .cards,.about-hero .box{
    height: 650px;
  }

  .shop .cards{
    height: 450px;
  }

  .visit .cards img,.about-hero .box img{
    height: 100%;
  }

  .visit .cards .text-box .heading,.shop .text-box .heading{
    font-size: 2.2rem;
    line-height: 2.5rem;
    text-align: left;
  }

  .visit .cards .text-box .paragraph{
    max-width: 15rem;
    font-size: .9rem;
  }

  .main .column .second .box img{
    height: auto;
  }

  .section,footer,.main .row{
    padding-inline: 2.6rem;
  }

  .main .row section{
    padding:0;
  }

  footer .rows{
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row-reverse;
    margin-top: 4rem;
    max-width: 85%;
  }

  footer .rows .newsletter{
    margin: 0;
  }

  footer .rows .newsletter .heading{
    text-align: right;
  }

  footer .rows .newsletter form{
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    border: none;
  }

  footer .rows .newsletter form label{
    margin: 0;
  }

  footer .rows .newsletter form button{
    height: 3rem;
  }

  footer .rows .newsletter form label:nth-of-type(2){
    width: 8rem;
  }

  footer .rows .newsletter form label:nth-of-type(1){
    margin-right: 1rem;
  }

  footer .rows .two{
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 300px;
  }

  footer .box{
    border: none;
    padding: 0;
  }

  header{
    width: 90%;
  }

  header .top .left{
    width: auto;
    align-items: flex-start;
  }

  header .top .right{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 300px;
    min-width: 70px;
  }

  header .top .longer-right{
    min-width: 358px;
  }

  header .top .small-right{
    width: 110px;
  }

  header .top .right ul{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  header .bottom .center{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:150px;
  }

  header .bottom .center a{
    color: #c8cdd1;
    font-size: .85rem;
    font-weight: 501;
    text-transform: uppercase;
    font-family: 'GT';
  }

  header .bottom-right{
    width: 70px;
  }

  header .bottom .small:nth-of-type(2){
    display: none;
  }

  header .bottom .menu{
    display: none;
  }

  #root{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .support-header{
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    padding: 1rem;
    background-color: #191919;
    position: fixed;
    top: 0;
    z-index: 10;
    transition: background-color .4s ease-in-out;
  }

  .welcome .heading{
    max-width: 300px;
  }

  .orders .boxes{
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .orders .orders-box{
    width: 65%;
  }
  
  .orders .wrapper{
    border-top: 2px solid #c8cdd1;
  }

  .orders .orders-box{
    border:none;
    align-items: flex-start;
  }

  .orders .address{
    width: 30%;
    margin: 0;
    border-left: 2px solid #c8cdd1;
    padding-left: 1.5rem;
  }

  .dash-default .boxes{
    margin-block: 2rem;
  }

  .dash-default .box{
    width: 32%;
    margin: 0;
  }

  .latest .btn-row{
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    width: 350px;
  }

  .latest .btn-row button{
    font-weight: 600;
    background-color: transparent;
    border:2px solid #c8cdd1;
    color: #fff;
  }

  .products-latest .boxes{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
  }

  .orders .boxes{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  .orders .products-wrapper{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
  }

  .products-latest .box{
    margin: 0;
  }

  .latest .top{
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .latest .top button{
    width: 14rem;
  }

  .new .box:hover .size-box{
    display: flex;
  }

  .new .box:hover .images-box{
    display: flex;
  }

  ::-webkit-scrollbar {
    width: 0;
    background-color: transparent; 
  }

  .gallery .box .image-box{
    height: 320px;
  }

  .modal .boxes{
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }

  .modal .boxes > .box{
    max-width: 100%;
  }

  .modal .box:nth-of-type(2){
    background-color: transparent;
  }

  .modal .box.box:nth-of-type(2) .box{
    background-color: transparent;
  }

  .modal .boxes > .box:nth-of-type(1){
    width: 25rem;
    background-color: #0f0f0fd4;
    backdrop-filter: blur(100px);
    height: 85%;
    position: fixed;
    z-index: 1;
    border-radius: 1.5rem;
    right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: 1px solid #2b2a33;
  }

  .modal .box:nth-of-type(2) .heading{
    border: none;
  }

  .modal{
    padding: 0;
  }

  .address .boxes{
    align-items: center;
    justify-content: center;
  }

  .addressModal .boxes > .box:nth-of-type(1){
    right:50%;
    margin-right: -12.5rem;
    border-radius: 1.5rem;
  }

  .border-container{
    display: flex;
    flex-direction: column;
    border-radius: .5rem;
    width: 25rem;
    background-color: #0f0f0fd4;
    backdrop-filter: blur(100px);
    height: 85%;
    position: fixed;
    z-index: 1;
    border-radius: 1.5rem;
    right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: 1px solid #2b2a33;
    overflow-y: auto;
    scrollbar-width: none;
  }

  .border-box{
    max-width: 100%;
  }

  .latest .boxes{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
    gap: 1rem;
  }

  .dash-latest .boxes,.customers-latest .boxes{
    display: flex;
    flex-direction: row;
  }

  .latest .text .column{
    display: flex;
    flex-direction: column;
  }

  .visit .text-box button,.shop .text-box button{
    font-size: 1rem;
    width: fit-content;
    height: fit-content;
  }

  .left .text-box .heading{
    text-align: right;
  }

  .visit .text-box .heading,.shop .text-box .heading{
    max-width: 15rem;
  }

  .desc-box{
    grid-template-columns: repeat(3,1fr);
  }

  .support-head{
    width: 100%;
  }

  .cards-latest{
    min-height:100vh;
  }

  .desktop-details .grid-bottom .heading{
    font-size: .65rem;
  }
}

@media screen and (min-width:1000px){
  .visit .cards,.about-hero .box{
    height: 650px;
  }

  .shop .cards{
    height: 500px;
  }

  .row-sections,.detailss{
    display: none;
  }

  .desktop-details{
    padding: 1rem;
    display: flex;
  }

  .desktop-details .grid-top{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  .desktop-details .grid-top > div{
    width: 30%;
  }

  .desktop-details .right .row-top{
    flex-direction: column;
  }

  .desktop-details .right .row-top .color-box{
    margin: 0;
    width: 100%;
  }

  .desktop-details .right .row-top .sizes-box{
    width: 100%;
    margin-top: 1rem;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .desktop-details .right .row-top .sizes-box .top{
    align-items: flex-start;
    justify-content: flex-start;
  }

  .desktop-details .right .size-box{
    padding: 0;
  }

  .desktop-details button{
    align-self: flex-start;
    background-color: #2b2a33;
    width: 100%;
  }

  .desktop-details button:nth-of-type(2){
    margin: 0;
  }

  .desktop-details .grid-top > .top{
    flex-direction: column;
  }

  .desktop-details .grid-top > .top .right{
    width: auto;
  }

  .desktop-details .grid-top > .top .right .heading{
    margin-bottom: 0;
    margin-top: 1rem;
  }

  .desktop-details{
    padding-inline: 2rem;
    min-height: 80vh;
  }

  .desktop-details .product-image{
    min-height: 480px;
  }

  .desktop-details .product-image img{
    margin-bottom: 1rem;
  }

  .desktop-details-page{
    display: flex;
  }

  .grid-bottom span{
    pointer-events: none;
  }

  .inner-deskt-details .grid-bottom span{
    pointer-events:all;
  }

  .grid-bottom:hover span .top {
    cursor: pointer;
    display: flex;
  }

  .inner-page-bottom:hover span .top{
    display: none;
  }
}

@media screen and (min-width:1200px){
  .section,footer,.main .row{
    padding-inline: 8rem;
  }

  header{
    width: 80%;
  }

  .support-head{
    width:100%;
  }
}

@media screen and (min-width:1400px){
  header{
    width: 83%;
  }

  .support-head{
    width:100%;
  }
}